.container{
display: flex;
}
.comman{
    height: 100px;
    width: 100px;
}
.one{
    background-color: black;
    height: 100px;
    width: 100px;
    /* flex-grow: 1; */
    flex-shrink: 1;
}
.two{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    /* flex-grow: 2; */
    flex-shrink: 3;

}
.three{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}
.four{
    background-color: brown;
    height: 100px;
    width: 100px;
}
*{
    /* background-color: brown; */
}