/* h1: Type selector */
h1{ 
    background-color: red;
}
/* #one: ID selector */
#one{
    background-color: blue;
}

 /* .two: Class selector */
.two{
    background-color: pink;
}

/* a: Type selector */
a{
    background-color: aqua;
}

/* a[href="http://google.com"]: Attribute selector */
a[href="http://google.com"]{
    color: red;
}

 /* a[href^='https']: Attribute selector with a prefix */
a[href^='https']{
    background-color: palevioletred;
}

/* a[href$='com']: Attribute selector with a suffix */
a[href$='com']{
    background-color: cadetblue;
}

/* a[href*='linkedin']: Attribute selector containing a substring */
a[href*='linkedin']{
    background-color: rgb(15, 117, 117);
}

/* universal selector */
*{
    background-color: aquamarine;
}

/* div p: Descendant selector */
div p{
    color: rgb(226, 130, 146);
}

 /* span p: Descendant selector */
span p{
    color: rgb(212, 163, 99);
}

 /* ol > li: Child selector */
ol > li{
    border: 5px solid red;
}
 #rectangle{
    height: 150px;
    width: 150px;
    background-color: rgb(3, 28, 3);
    transition: 2s;
}
#rectangle:hover{
    background-color: palevioletred;
    border-radius: 50%;
}
#list :first-child{
background-color: red;
}
#list :last-child{
    background-color: blue;
}
#list :nth-of-type(2){
    background-color: palevioletred;
}
#list :nth-of-type(4){
    background-color: brown;
}